*{
margin: 0;
padding: 0;
box-sizing: border-box;
}

nav {
    box-sizing: inherit;
    height: 100%;
    width: 200px;
    background-color: #fff;
    position: fixed!important;
    z-index: 1;
    overflow: auto;
    background-color: #222;
}
nav ul li {
    width: 100%;
    display: block;
    padding: 8px 16px;
    text-align: left;
    border: none;
    white-space: normal;
    float: none;
    outline: 0;
    text-align: center;
}

